.bcF4F6F9 {
  background-color: #f4f6f9;
}

.bcFFFFFF {
  background-color: #ffffff;
}

.c4497F6 {
  color: #4497f6;
}

.ml20 {
  margin-left: 20px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mt20 {
  margin-top: 20px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f24 {
  font-size: 24px;
}

.f25 {
  font-size: 25px;
}

.fw {
  font-weight: bold;
}

.lep1 {
  letter-spacing: 1px;
}

.p20 {
  padding: 20px;
}

.pr5 {
  padding-right: 5px;
}

.va-s {
  vertical-align: sub;
}

.va-b {
  vertical-align: bottom;
}

.va-28 {
  vertical-align: -0.28em !important;
}

.a {
  left: 20px;
}
